.header{
    padding: 20px;
    position:sticky;
    top: 0;
    overflow: hidden;
    z-index: 9000;
    width: 100%;
    box-shadow: 0px 2px 8px rgba(150,150,150, 0.5);
    position: -webkit-sticky;
}
.mobileMenu{
    display: none;
}
.logo{
    width:60px;
}

.title{
    font-size: 30px;
}

