.modal{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    background:white;
}

.formcard{
    overflow: scroll;
    height: 100%;
    width: 500px;
    padding-top: 60px !important;
  }
  
  .qta{
    padding-top: 5px;
  }
  
  