.flex__wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.flex__center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex__column{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

:root{
    --primary:#00923F;
    --primary-dim:hsl(146, 100%,10%);
    --secondary:#F8C300;
    --blue: rgb(0, 152, 253);
    --blue-dim: hsl(204, 100%, 35%);
}